<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.demo.dao.GoodsDao">

    <select id="goodsList" resultType="com.zzz.demo.back.GoodsReBack">
            select a.id,a.name,a.price,b.imgFir,b.imgSec,b.imgTir,c.ensembleId from goods a left join goodsimage  b on a.id=b.goodsId left join goodstype c on                 a.goodsTypeId=c.typeId  where ensembleId=(select ensembleId from goodstype where typeId=#{typeId})
            <if test="searchName!=null">
                and a.name like '%#{searchName}%'
            </if>
            order by a.id  limit #{nowCount},#{total}
    </select>

    <select id="myCart" resultType="com.zzz.demo.back.OrderGoodsReBack">
        select a.id,a.goodsId,a.quantity,a.popOne,a.popTwo,b.name,b.price,c.imgFir from mycart a left join goods b on a.goodsid= b.id left join goodsimage c on b.id=c.goodsId where a.userId=#{userId} limit #{nowCount},#{total}
    </select>

    <insert id="executeSql" parameterType="com.zzz.demo.entity.MyCart" useGeneratedKeys="true" keyProperty="id">
        insert into mycart(userid,goodsid,quantity,popone,poptwo) values (#{userId},#{goodsId},#{quantity},#{popOne},#{popTwo})
    </insert>

    <insert id="saveGoods" parameterType="com.zzz.demo.back.GoodsReBack" useGeneratedKeys="true" keyProperty="id">
        insert into goods(name,price,goodsTypeId) values (#{name},#{price},#{ensembleTypeId})
    </insert>
</mapper>