<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.demo.dao.UserDao">

    <insert id="registerUser" parameterType="com.zzz.demo.entity.User"
            useGeneratedKeys="true" keyProperty="id">
    insert into user(account,password,nickname) values(#{account},#{password},#{nickname})
    </insert>

    <insert id="savePOJOBySql" parameterType="java.lang.String">
        ${sql}
    </insert>



    <resultMap id="friends" type="com.zzz.demo.reBack.FriendMessage">
        <id column="mainId" property="FriendId"></id>
        <result column="headImg" property="headImg"></result>
        <result column="nickName" property="nickName"></result>
        <collection property="chats" ofType="com.zzz.demo.entity.Chat">
            <id column="id" property="id"></id>
            <result column="fromId" property="fromId"></result>
            <result column="toId" property="toId"></result>
            <result column="message" property="message"></result>
            <result column="messageType" property="messageType"></result>
            <result column="isRead" property="isRead"></result>
            <result column="addTime" property="addTime"></result>
        </collection>
    </resultMap>

    <select id="findFriend" parameterType="java.lang.Integer" resultMap="friends">
        select a.nickName,a.id mainId,a.headImg,b.* from(select a.nickName,a.id,a.headImg from user a ,(select friendId from friendinfo where ownId = #{id}) b where a.id=b.friendId)a left join chat b on a.id=b.fromId and b.toId=#{id}
    </select>
    <insert id="test" parameterType="java.util.List">
        insert into t5(name) values
        <foreach collection="list" item="i" separator=",">
            (#{i.name})
        </foreach>
    </insert>
</mapper>